/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.large-header {
}
.logo{
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -250px;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
/* text-transform: uppercase; */
	font-size: 4.2em;
	letter-spacing: 0.1em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.main-title{
		font-size: 3em;
	}
}