body{
	background: #222;
	font-family: Varela;
}
#intro{
	position: relative;
}
#content{
	position: absolute;
	width: 100%;
	top: 100%;
	z-index: 2;
}
/* Header */

.large-header canvas{
	position: fixed;
	z-index: -1;
	width: 100%;
}

.large-header {
}
.logo{
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 50%;
	margin-left: -250px;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
/* text-transform: uppercase; */
	font-size: 4.2em;
	letter-spacing: 0.1em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title .thin {
	font-weight: 200;
}

.noder_avatar{
	position: relative;
	width: 250px;
	height: 250px;
}

.noder_avatar_border{
    position:absolute;
    width: 100%;
    height:100%;
    background-color: #90c640;
    mask: url(#mask);
	-webkit-mask: url(../img/noders_logo.svg) top left / cover;
}

.noder_avatar_border:hover{
    background-color: rgba(255,255,255,0.8);
}

.noder_avatar_img{
	position:absolute;
    width: 96%;
    height:96%;
    top:2%;
    left:2%;
	mask: url(#mask);
	-webkit-mask: url(../img/noders_logo.svg) top left / cover;
}

#place_map{
	width: 50%;
	height: 250px;
	border-radius: 5px;
}

#javascriptmx{
	background: rgb(229, 196, 26);
}

.footer_icon{
	position: relative;
	mask: url(#mask);
	-webkit-mask: url(../img/noders_logo.svg) top left / cover;
	background-color: #90c640;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 0 10px;
}

.footer_icon i{
	position: absolute;
	width: 50%;
	color: #fff;
	top: 25%;
	left: 28%;
	font-size: 30px;
}

@media only screen and (max-width : 768px) {
	.main-title{
		font-size: 3em;
	}
}